body {
  margin: 0;
  background-color: #777;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contenedor {
 display:flex;
 padding:2em;

}

.contenedor p {
  cursor:pointer;
  font-weight: bold;

}

.contenedor p:hover {
  color:grey;
}
.contenedor img {
  min-width:40%;
  position:absolute;
  border-radius:20px;
  border:2px solid black;
  top:50%;
  left:75%;
  transform:translate(-50%,-50%);
}